.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  @include between('betw');

  &__link:hover {
    color: $menu-accent;
    transition: all 0.2s linear;
  }

  &__item::after {
    @include after(block, '');
    width: 0;
    height: 6px;
    border-bottom: 3px solid $menu-accent;
    transition: all 0.2s linear;
  }

  &__item:hover::after {
    width: 100%;
  }

  &__icon {
    display: inline-block;
    fill: $menu-text-color;
    width: 20px;
    height: 20px;

    &:hover {
      fill: $menu-accent;
    }
  }
}
